In [71]:
%load_ext sql
import os
from sqlalchemy import create_engine

pgconfig = {
    'host': 'db',
    'port': os.environ['PG_PORT'],
    'database': os.environ['PG_DATABASE'],
    'user': os.environ['PG_USER'],
    'password': os.environ['PG_PASSWORD'],
}
dsl = 'postgresql://{user}:{password}@{host}:{port}/{database}'.format(**pgconfig)
conn = create_engine(dsl)

# MagicコマンドでSQLを書くための設定
%sql conn

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
There's a new jupysql version available (0.10.2), you're running 0.7.2. To upgrade: pip install jupysql --upgrade

In [72]:
%%sql
drop table if exists Students;
CREATE TABLE Students
(student_id   INTEGER PRIMARY KEY,
 dpt          VARCHAR(16) NOT NULL,
 sbmt_date    DATE);

INSERT INTO Students VALUES(100,  '理学部',   '2018-10-10');
INSERT INTO Students VALUES(101,  '理学部',   '2018-09-22');
INSERT INTO Students VALUES(102,  '文学部',   NULL);
INSERT INTO Students VALUES(103,  '文学部',   '2018-09-10');
INSERT INTO Students VALUES(200,  '文学部',   '2018-09-22');
INSERT INTO Students VALUES(201,  '工学部',   NULL);
INSERT INTO Students VALUES(202,  '経済学部', '2018-09-25');

*  postgresql://padawan:***@db:5432/dsdojo_db
Done.
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

## やりたいこと
すべての生徒がsbmt_dateある(提出している)学部を見つける

In [81]:
%%sql
select dpt
from Students
group by dpt
having count(sbmt_date) = count(*)

*  postgresql://padawan:***@db:5432/dsdojo_db
2 rows affected.

[('理学部',), ('経済学部',)]

In [80]:
%%sql
select dpt
from Students
group by dpt
having sum(case when sbmt_date is not null then 1 else 0 end) = count(*)

*  postgresql://padawan:***@db:5432/dsdojo_db
2 rows affected.

[('理学部',), ('経済学部',)]

In [78]:
%%sql
select distinct dpt
from students as s1
where not exists (
    select *
    from students as s2
    where s1.dpt = s2.dpt and
    s2.sbmt_date is null
)

*  postgresql://padawan:***@db:5432/dsdojo_db
2 rows affected.

[('理学部',), ('経済学部',)]