In [1]:
%load_ext sql
import os
from sqlalchemy import create_engine

pgconfig = {
    'host': 'db',
    'port': os.environ['PG_PORT'],
    'database': os.environ['PG_DATABASE'],
    'user': os.environ['PG_USER'],
    'password': os.environ['PG_PASSWORD'],
}
dsl = 'postgresql://{user}:{password}@{host}:{port}/{database}'.format(**pgconfig)
conn = create_engine(dsl)

# MagicコマンドでSQLを書くための設定
%sql conn

In [2]:
%%sql
drop table if exists TestScores;
CREATE TABLE TestScores
(student_id INTEGER,
 subject    VARCHAR(32) ,
 score      INTEGER,
  PRIMARY KEY(student_id, subject));

INSERT INTO TestScores VALUES(100, '算数',100);
INSERT INTO TestScores VALUES(100, '国語',80);
INSERT INTO TestScores VALUES(100, '理科',80);
INSERT INTO TestScores VALUES(200, '算数',80);
INSERT INTO TestScores VALUES(200, '国語',95);
INSERT INTO TestScores VALUES(300, '算数',40);
INSERT INTO TestScores VALUES(300, '国語',90);
INSERT INTO TestScores VALUES(300, '社会',55);
INSERT INTO TestScores VALUES(400, '算数',80);

*  postgresql://padawan:***@db:5432/dsdojo_db
Done.
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

## やりたいこと

+ 各生徒で抜けている教科があるので、それを埋める(埋まっていなかったものはNoneにしておく)

In [10]:
%%sql
-- left joinですべての候補に対して強制joinさせる
select distinct
    t1.student_id,
    t2.subject,
    t3.score
from TestScores t1
cross join TestScores t2
left join TestScores t3
on t1.student_id = t3.student_id and
t2.subject = t3.subject

*  postgresql://padawan:***@db:5432/dsdojo_db
16 rows affected.

[(100, '国語', 80),
 (100, '算数', 100),
 (100, '社会', None),
 (100, '理科', 80),
 (200, '国語', 95),
 (200, '算数', 80),
 (200, '社会', None),
 (200, '理科', None),
 (300, '国語', 90),
 (300, '算数', 40),
 (300, '社会', 55),
 (300, '理科', None),
 (400, '国語', None),
 (400, '算数', 80),
 (400, '社会', None),
 (400, '理科', None)]