In [1]:
%load_ext sql
import os
from sqlalchemy import create_engine

pgconfig = {
    'host': 'db',
    'port': os.environ['PG_PORT'],
    'database': os.environ['PG_DATABASE'],
    'user': os.environ['PG_USER'],
    'password': os.environ['PG_PASSWORD'],
}
dsl = 'postgresql://{user}:{password}@{host}:{port}/{database}'.format(**pgconfig)
conn = create_engine(dsl)

# MagicコマンドでSQLを書くための設定
%sql conn

There's a new jupysql version available (0.10.2), you're running 0.7.2. To upgrade: pip install jupysql --upgrade

## やりたいこと
+ フィボナッチ数を求める

In [15]:
%%sql
-- CTEの再帰
with recursive fib(a,b) as (
    select * from (values (0,1)) as foo
    union all
    select b, a+b
    from fib
    where b < 100
)

select a
from fib

*  postgresql://padawan:***@db:5432/dsdojo_db
12 rows affected.

[(0,), (1,), (1,), (2,), (3,), (5,), (8,), (13,), (21,), (34,), (55,), (89,)]