In [1]:
%load_ext sql
import os
from sqlalchemy import create_engine

pgconfig = {
    'host': 'db',
    'port': os.environ['PG_PORT'],
    'database': os.environ['PG_DATABASE'],
    'user': os.environ['PG_USER'],
    'password': os.environ['PG_PASSWORD'],
}
dsl = 'postgresql://{user}:{password}@{host}:{port}/{database}'.format(**pgconfig)
conn = create_engine(dsl)

# MagicコマンドでSQLを書くための設定
%sql conn

In [2]:
%%sql
drop table if exists tbl;
create table tbl (
    id integer primary key,
    group_id integer not null,
    value integer not null
);

insert into tbl
values (1,1,2),
    (2,1,4),
    (3,1,2),
    (4,1,6),
    (5,1,4),
    (6,2,4),
    (7,2,3),
    (8,3,10);

*  postgresql://padawan:***@db:5432/dsdojo_db
Done.
Done.
8 rows affected.

[]

## やりたいこと
+ 各グループの要素をつなげる

In [10]:
%%sql
-- Postgresqlの場合、string_aggを使う
select group_id,
    string_agg(cast(id as varchar(16)), ',' order by group_id) as ids
from tbl
group by group_id

*  postgresql://padawan:***@db:5432/dsdojo_db
3 rows affected.

[(1, '1,2,3,4,5'), (2, '6,7'), (3, '8')]