In [3]:
%load_ext sql
import os
from sqlalchemy import create_engine

pgconfig = {
    'host': 'db',
    'port': os.environ['PG_PORT'],
    'database': os.environ['PG_DATABASE'],
    'user': os.environ['PG_USER'],
    'password': os.environ['PG_PASSWORD'],
}
dsl = 'postgresql://{user}:{password}@{host}:{port}/{database}'.format(**pgconfig)
conn = create_engine(dsl)

# MagicコマンドでSQLを書くための設定
%sql conn

There's a new jupysql version available (0.10.2), you're running 0.7.2. To upgrade: pip install jupysql --upgrade

In [4]:
%%sql
drop table if exists tbl;
create table tbl (
    id integer primary key,
    group_id integer not null,
    value integer not null
);

*  postgresql://padawan:***@db:5432/dsdojo_db
Done.
Done.

[]

In [5]:
%%sql
insert into tbl 
values (1,1,40),
    (2,1,70),
    (3,1,100),
    (4,2,30),
    (5,2,60),
    (6,2,100),
    (7,3,80);

*  postgresql://padawan:***@db:5432/dsdojo_db
7 rows affected.

[]

In [6]:
%%sql
-- where句のなかで絞り込み(こっちの書き方を慣れる)
select *
from tbl as t1
where value = (
    select max(value)
    from tbl as t2
    where t1.group_id = t2.group_id and
    value <= 70
)

*  postgresql://padawan:***@db:5432/dsdojo_db
2 rows affected.

[(2, 1, 70), (5, 2, 60)]

In [7]:
%%sql
-- 鈍臭いやりかた
select *
from tbl
where (group_id, value) in (
    select group_id, max(value)
    from tbl
    where value <= 70
    group by group_id
)

*  postgresql://padawan:***@db:5432/dsdojo_db
2 rows affected.

[(2, 1, 70), (5, 2, 60)]