In [2]:
%load_ext sql
import os
from sqlalchemy import create_engine

pgconfig = {
    'host': 'db',
    'port': os.environ['PG_PORT'],
    'database': os.environ['PG_DATABASE'],
    'user': os.environ['PG_USER'],
    'password': os.environ['PG_PASSWORD'],
}
dsl = 'postgresql://{user}:{password}@{host}:{port}/{database}'.format(**pgconfig)
conn = create_engine(dsl)

# MagicコマンドでSQLを書くための設定
%sql conn

In [9]:
%%sql
drop table if exists tbl;
create table tbl (
    col1 integer not null,
    col2 integer not null
);

insert into tbl
values (20,20),
    (50,25),
    (20,20),
    (60,30), -- ペアがない
    (25,50),
    (40,60),
    (60,40);

*  postgresql://padawan:***@db:5432/dsdojo_db
Done.
Done.
7 rows affected.

[]

In [19]:
%%sql
-- 行の入れ替え
select
    case when col1 <= col2 then col1 else col2 end as v1,
    case when col1 <= col2 then col2 else col1 end as v2
from tbl
group by v1, v2
having count(*) >= 2

*  postgresql://padawan:***@db:5432/dsdojo_db
3 rows affected.

[(20, 20), (25, 50), (40, 60)]

In [10]:
%%sql
-- 自己結合を使う
select distinct t1.*
from tbl as t1, tbl as t2
where t1.col1 = t2.col2 and
t2.col2 = t1.col1 and
t1.col1 <= t1.col2

*  postgresql://padawan:***@db:5432/dsdojo_db
3 rows affected.

[(20, 20), (25, 50), (40, 60)]