In [1]:
%load_ext sql
import os
from sqlalchemy import create_engine

pgconfig = {
    'host': 'db',
    'port': os.environ['PG_PORT'],
    'database': os.environ['PG_DATABASE'],
    'user': os.environ['PG_USER'],
    'password': os.environ['PG_PASSWORD'],
}
dsl = 'postgresql://{user}:{password}@{host}:{port}/{database}'.format(**pgconfig)
conn = create_engine(dsl)

# MagicコマンドでSQLを書くための設定
%sql conn

In [2]:
%%sql
drop table if exists Stores;
CREATE TABLE Stores
(manager_name CHAR(16),
 product_id CHAR(4),
     PRIMARY KEY(manager_name, product_id));

INSERT INTO Stores VALUES
     ('Adam',  '0001'),
     ('Adam',  '0002'),
     ('Adam',  '0003'),
     ('Barray','0002'),
     ('Curt',  '0001'),
     ('Curt',  '0002'),
     ('Dave',  '0001'),
     ('Dave',  '0002'),
     ('Dave',  '0003');

*  postgresql://padawan:***@db:5432/dsdojo_db
Done.
Done.
9 rows affected.

[]

## やりたいこと
+ 最も多くの製品を扱う店長を見つけたい
    + 普通に考えるとcount -> maxと必要だが..

In [5]:
%%sql
select manager_name, count(*)
from Stores
group by manager_name
having count(*) >= all(
    -- allの負荷を減らすためdistinctつけてる
    select distinct count(*)
    from Stores
    group by manager_name
)

*  postgresql://padawan:***@db:5432/dsdojo_db
2 rows affected.

[('Dave            ', 3), ('Adam            ', 3)]